<div class="list-group approval_area_size">
  <li class="list-group-item active list-group-item-success">
    シフトに入れる人
  </li>
  <% @shift_people.each do |i| %>
    <li class="list-group-item"><%= link_to "#{i.user.username}", "/dates/#{params[:date]}/#{i.id}" , :method => :patch ,:class => "link_color"%></li>
  <%end%>
</div>