<div class="panel panel-primary approval_area_size ">
  <div class="panel-heading">承認待ちユーザー</div>
  <ul class="list-group">
    <% @user.each do |i| %>
        <%= form_tag("/hosts/user_add", :method => :patch) do %>
          <li class="list-group-item"><%= i.username %>
            <input type="hidden" name="id" value="<%=i.id%>">
            <button type="submit" class="btn btn-primary locate_button">承認</button>
          </li>
      <% end %>
    <% end %>
  </ul>
</div>